.navbar li {
  font-weight: 600;
}
.banner-bg {
  background: #fceae8;
  border-radius: 15px;
}
.container {
  margin-bottom: 100px;
}
.carousel-item {
  padding: 20px 40px;
}
.price{
  color: #ff136f;
}
.buy-now{
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor:pointer;
}
.category-1 ,.category-2 ,.category-3 {
  border-radius: 15px;
  padding: 10px 30px;
  color: white;
}
.category-1 {
  background: linear-gradient(to Right, orange 0%, orange 100%);
}
.category-2{
background: linear-gradient(to Right, blue 0%, blue 100%);
}
.category-3{
background: linear-gradient(to #FF216C, blue 0%, #FF216C 100%);
}
.card {
  border: none;
  box-shadow:  10px 10px 10px lightgray;
  border-radius: 15px;
}
.contactus {
  height:300px;
}
input {
  border-radius: 5px;
  border:none;
}
footer {
  text-align: center;
}
